// Футер

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-hero-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__block {
    display: block;
}

.footer__address {
  display: block;
  width: 221px;
}

.footer__address-list {
    display: block;
}

// Физический адрес компании
.footer__geo-address {
  display: block;
  margin-top: 0;
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  color: var(--white-text);
}

.footer__contacts {
  display: block;
  margin-top: 0;
  margin-bottom: 9px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
}

// Почта, телефон - ховер
.footer__contacts:hover,
.footer__contacts:focus {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--ascent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
