// Навигация по сайту

.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  text-decoration: none;
}

// Подчеркивание активного пункта меню навигации
.navigation__link--current::after {
  content: "";
  display: block;
  height: 4px;
  border-radius: 2px;

  position: absolute;
  width: 100%;
  bottom: -1px;

  background-color: var(--ascent-color);
}

.navigation__link--current {
  color: var(--ascent-color);
  position: relative;
}

// Подсветка активного меню
.navigation__link:hover,
.navigation__link:focus {
  color: var(--ascent-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
