// Контакты (почта, телефон)

.header-contacts {
  display: flex;
  margin-left: auto;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__link {
  display: flex;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
}

.header-contacts__logo {
  display: block;
  width: 16px;
  height: 80px;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 10px;

  fill: var(--primary-text-color);
}

.header-contacts__text {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

// Почта, телефон - селектор
.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--ascent-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  fill: var(--ascent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover .header-contacts__logo,
.header-contacts__link:focus .header-contacts__logo {
  fill: var(--ascent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
